*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   

   
    
}
.nav-link{
    color: black;
     font-size: 17px;


}

.nav-link:hover{
    background:  linear-gradient(to right,rgb(221, 32, 32) , rgb(107, 99, 99));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav{
    color: white;
}

.nav-item{
    box-sizing: border-box;
    margin-right: 80px;
    padding-left: 100px;
    color: white;
    margin-top: 30px;

    

}

.nav-item a :hover{
    background:  linear-gradient(to right,black , red);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: x-large;


}


.collapse{
 
    box-sizing: border-box;
    color: white;
    justify-content: flex-end;
 
}

.dropdown-menu{
    background-color: transparent;
    position: absolute;
   top: 50px;
   left:50px;
   text-align: center;
   border: none;
   text-decoration: none;
   
    
}

.dropdown-item:hover{
    background:  linear-gradient(to top,rgb(0, 0, 0) , red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;


    
}



.navbar{
    font-family: 'Courier New', Courier, monospace;

    box-sizing: border-box;


}



.navbar-brand{
    background:  linear-gradient(to right,black , red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: x-large;

}

@media screen and (max-width:1375px){
    
    .nav-itmes{
        margin-right: 4px;
        padding-left: 5px;
    }
 
    .navbar-brand{
        margin-left: 5px;
        margin-top: 5px;
    }
}

@media screen and (max-width:375){
    
    .nav-itmes{
        margin-right: 4px;
        padding-left: 5px;
    }
  
 
  
}

.nav-icon{
    color: black;
    font-size: 12px;
}

.nav-icon:hover{
    background:  linear-gradient(to right,black , red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}


.bi{
    background:  linear-gradient(to right,black , red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

svg:hover{
    background:  linear-gradient(to right,black , red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

