<carousel class="cal">
    <div class="carousel-cell">
        <div class="item">
            <a href=""> Asia</a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="item">
            <a href=" "> Africa</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">Australia</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">Antarktikos</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">Europe</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">North-America</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div>
     
</carousel>