<div class="div" style="background-image: url('https://i.pinimg.com/originals/1c/85/34/1c8534b9eb50ea5c14b16872e7881001.png');" >

    
    <div class="container" id="about">


       <p>TravelWorld by SC Travel is member of IATA (since July 2021), JATA (since October 2021), GTA (since August 2021).
“TravelWorld” is a leading DMC in The World offering a full range of services both in business and leisure travel. Services and products provided by our company include a variety of cultural, adventure, wine and gourmet tours all around the world  .
We are proud to have established relationships with the most professional and experienced providers of travel related products and services. Our objective is to provide our clients with efficient and high-quality services for all of the travel related arrangements. Our strong knowledge and experience enables us to provide our clients with a comprehensive range of services and a high level of expertise in travel management.
The head-office of the company is located in Tbilisi. Due to the high demand for Black Sea region, in December 2021 we have opened a branch office in Batumi.
</p> 
    </div>

       
     
     
</div>



