.div{
 
    background-color: red;
   color: red;

    height: 100vh;
    min-height: 300px;
    background:no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}