
<div class="div"  >

  <carousel class="karuseli">
    <div class="carousel-cell">
        <div class="item">
            <a href="/asia"> Asia</a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="item">
            <a href="/africa "> Africa</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href="/asutralia ">Australia</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">Antarktikos</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">Europe</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">North-America</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div>
     <div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div><div class="carousel-cell">
        <div class="item">
            <a href=" ">South-America</a>
        </div>
     </div>
     
</carousel>

    <div class="media">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/1200px-Flag_of_the_People%27s_Republic_of_China.svg.png" class="align-self-start mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">China </h5>
          <p>Chia seeds are tiny black seeds from the plant Salvia hispanica, which is related to the mint. Chia seeds were an important food for the Aztecs and Mayans back in the day. They prized them for their ability to provide sustainable energy. In fact, “chia” is the ancient Mayan word for “strength.”Aug</p>

        </div>
      </div>
   

  
     
</div>



