<div class="zemo">









</div>
<div class="back  "> 



<div class="password container" >  


  
  <mat-horizontal-stepper class="mtavari" linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your Email</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input class="form-control" type="email" matInput formControlName="firstCtrl" placeholder="Enter your  recovery email" required>
        </mat-form-field>
        <div>
          <button class="btn" id="pirveli" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your Mobile number</ng-template>
        <mat-form-field>
          <mat-label>Mobile Number : </mat-label>
          <input type="text" class="form-control" matInput formControlName="secondCtrl" placeholder="Ex. +995 5-- -- -- --"
                 required>
        </mat-form-field>
        <div>
          <button class="btn" id="meore" mat-button matStepperPrevious>Back</button>
          <button class="btn" id="mesame" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p class="p">You are now done. We  will send a verification code to your Email</p>
      <div>
        <button class="btn"  id="meotxe" mat-button matStepperPrevious>Back</button>
        <button class="btn" id="mexute" mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  </div>
</div>

<div class="kvemota">

</div>