
  
*{
    margin: 0;
    padding:0;
box-sizing: border-box;


}

::-webkit-scrollbar{
    width: 25px;}

    .card{
        background-color: transparent;
    }
.card-body{
    background-color: transparent;
}

#zemota{
    margin-top: 0px;
    height: 100vh; overflow-y:visible;
      overflow-x:hidden;
      background-size: cover;
      background-position: center;
      
    
    

}
.gadasvla{
    position: absolute;
    left: 40%;


}
.pagination{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -40px;
}
.page-item{
    width: 40px;
    text-align: center;
   
    margin-left: 2px;
}

.sec1{
    
    padding-top: 300px;

}

.sec2{
    padding-bottom: 50px;
    
}
.row{
   
    height: 100%;
   
  
}


.top{
    text-align: center;
    position: sticky;
    padding-top: 100px;
    font-family: Courier, monospace;
}

.other{
    text-align: center;
    position: sticky;
    padding-top: 80px;
    font-family:  Courier, monospace;

}
.mb-4{
    
    
    
    max-width: 300px;
    height: 150px;
    margin-top: 4%;
    
    margin-left: 65px;
    background-color: transparent;
   
    border-radius: 5px;
}

.mb-4 a{
    text-decoration: none;
}

.mb-4 h5{

        position: relative;
        bottom: 110px;
       text-align: center;
       color: white;
       font-size: xx-large;
       text-decoration: none;
}

.mb-4 p{

    position: relative;
    bottom: 75px;
    float: right;
    padding-right: 6px;
    font-size: x-large;
    color: white;
    font-family: Courier, monospace;
}

.mb-4 img {
    width: 100%;
    height: 130%;
    opacity: 1;
    background-color: transparent;
}


.mb-4 img:hover {
    width: 100%;
    height: 130%;
    opacity: 0.8;
}


@media screen and (max-width:1120px){
   
   .mb-4{
       margin-left: 20px;
   }
 
}

@media screen and (max-width:980px){
   
    .sec1{
        margin-left: 200px;
    }

    .top{
        padding-right: 150px;
    }

    .other{
        padding-right: 150px;
    }
    .sec2{
        margin-left: 200px;
    }
    
 }

 @media screen and (max-width:670px){
   
    .sec1{
        margin-left: 200px;
    }

    .top{
        padding-right: 100px;
    }

    .other{
        padding-right: 100px;
    }
    .sec2{
        margin-left: 200px;
    }
    
 }


 


 @media screen and (max-width:564px){
   
    .sec1{
        margin-left: 50px;
    }

    .top{
        padding-right:70px;
    }

    .other{
        padding-right: 70px;
    }
   
    .sec2{
        margin-left: 130px;
    }
    
 }
 @media screen and (max-width:415px){
   
    .sec1{
        margin-right: 10px;
    }

    .top{
        padding-right:10px;
    }

    .other{
        padding-right: 10px;
    }
   
    .sec2{
        margin-left: 40px;
    }
    
 }